*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/lixiDev/debug/app-lixiDev-debug.apk
app/lixiDev/debug/output.json
app/lixiProduct/release/app-lixiProduct-release.apk
app/lixiProduct/release/output.json
/fastlane/report.xml